//* =============== SCSS миксин "Шрифты" =============== //

@mixin font($font_name, $font_style, $font_weight, $font_display, $file_name) {
	@font-face {
		font-family: "#{$font_name}";
		font-style: $font_style;
		font-weight: $font_weight;
		font-display: $font_display;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.ttf") format("truetype");
	}
}